

@media(min-width: 992px){
	.col-lg-1 {width:8.33%;}
	.col-lg-2 {width:16.66%;}
	.col-lg-3 {width:25%;}
	.col-lg-4 {width:32%;}
	.col-lg-5 {width:41.66%;}
	.col-lg-6 {width:49%;}
	.col-lg-7 {width:58.33%;}
	.col-lg-8 {width:66.66%;}
	.col-lg-9 {width:75%;}
	.col-lg-10 {width:83.33%;}
	.col-lg-11 {width:91.66%;}
	.col-lg-12 {width:100%;}
}

@media(max-width: 991px)and (min-width: 768px){
	.col-md-1 {width:8.33%;}
	.col-md-2 {width:16.66%;}
	.col-md-3 {width:25%;}
	.col-md-4 {width:32%;}
	.col-md-5 {width:41.66%;}
	.col-md-6 {width:48%;}
	.col-md-7 {width:58.33%;}
	.col-md-8 {width:66.66%;}
	.col-md-9 {width:75%;}
	.col-md-10 {width:83.33%;}
	.col-md-11 {width:91.66%;}
	.col-md-12 {width:99%;}
}
@media(max-width: 767px){
	.col-sm-1 {width:8.33%;}
	.col-sm-2 {width:16.66%;}
	.col-sm-3 {width:25%;}
	.col-sm-4 {width:30%;}
	.col-sm-5 {width:41.66%;}
	.col-sm-6 {width:50%;}
	.col-sm-7 {width:58.33%;}
	.col-sm-8 {width:66.66%;}
	.col-sm-9 {width:75%;}
	.col-sm-10 {width:83.33%;}
	.col-sm-11 {width:91.66%;}
	.col-sm-12 {width:98%;}
}


body{
	margin:1%;
	}
* {
	font-family: Arial;
	text-align: left;
	}
header {
	text-align: center;
	height: 60px;
	font-weight: bold; 
	font-size: 175%;
	padding: 1%;
	position: relative;
	} 

div {
	background-color: gray; 
	border:1px black solid; 
	float:left;
	width: 30%;
	margin-bottom: 1%;  
	margin-right:1%;
	box-sizing: border-box; 
	padding-left: 10px
	}
p{
	text-align: left; 
	clear:right;}
p.title {
	font-size: 125%;
	text-align: center;
	border-left: 1px black solid; 
	border-bottom: 1px black solid;
	float: right;
	margin-top:0;
	padding-right:10px;
	width: 20%;
	}
#chicken {
	background-color: pink; 
	}
#beef {
	background-color: red; 
	color: white;
	}
#sushi {
	background-color: yellow; 
	}
